---
import Layout from "../../../layouts/Layout.astro";
import { ServiceBoard } from "../../../components/ServiceBoard";
import { fetchJourney } from "../../../utils/entur/fetchJourney";

export const prerender = false;

const { serviceId, date } = Astro.params;
if (!serviceId || !date) throw new Error("");
const journey = await fetchJourney(serviceId, date);

if (!journey) return Astro.redirect("/404");

const title = `${journey.line} ${
  journey.destinations[journey.destinations.length - 1]
}`;

const otherDestinations = journey.destinations.slice(0, -1);
---

<Layout title={title}>
  <h1 class="text-3xl text-center py-2">
    {title}
  </h1>
  {
    journey.destinations.length > 1 && (
      <div class="text-center pb-2">
        {otherDestinations.map((destination) => (
          <span class="pl-1">
            {journey.line} {destination}
          </span>
        ))}
      </div>
    )
  }
  <ServiceBoard
    serviceId={serviceId}
    initialCalls={journey.calls}
    date={date}
    client:load
  />
</Layout>
